<div class="search"
   <%= form_tag(search_page_path, :method => "get",   
     class: 'navbar-form navbar-left') do %>  
       <div class="input-group">  
         <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
           <div class="input-group-btn">  
             <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:location => nil%>  
            </div>  
          </div>  
        </div>
    <% end %>
</end>
  <p id="notice"><%= notice %></p>

<h1>Restorents</h1>
<div class="card-columns">
   <% @restorents.each do |restorent| %>
         

  <%= link_to 'New Restorent', new_restorent_path %>

  
<!-- Card --><br>


<!-- Card -->
<div class="card booking-card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title font-weight-bold"><a><%= restorent.name %> Restaurant</a></h4>
    
    <p class="card-text">Location</a> <%= restorent.location %></p>
    
  

    <!-- Button -->
    <%= link_to 'more...', restorent %>

  </div>

</div>
<!-- Card -->
<% end %>
</div>