<!DOCTYPE html>
<html>
  <head>
    <title>Restaurent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
   
    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
      <!-- SideNav slide-out button -->
      <div class="logo-text">
        <a class="nav-link podzo"> <span class="clearfix d-none d-sm-inline-block" style="color:#ff6000;font-weight:bolder">PODZO</i></span></a>   
      </div>
      
      <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item">
          <%= link_to 'Home', restorents_path, :class => 'navbar-link',style:'color:#ff6000;font-weight:bold' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Restaurants', restorents_path, :class => 'navbar-link',style:'color:#bcbdbf;font-weight:bold' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact', restorents_path, :class => 'navbar-link',style:'color:#bcbdbf;font-weight:bold' %>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'New Restaurent', new_restorent_path, :class => 'navbar-link',style:'color:#bcbdbf;font-weight:bold' %></i>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link',style:'color:red;text-decoration:none;font-weight:bold'  %>
        </li>
        <% else %>
        <li class="nav-item">
          |
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path,style:'color:black;'  %></i>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class:'signup'  %></i>
        </li>
       <% end %>
      </ul>
    </nav>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>


